* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: inherit;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    max-width: 1100px;
    margin: 0 auto;
}   

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #757F9A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Common */

pre{
    display: block;
}

a{
    color: #41627C;
}

section{
    display: flex;
    flex-direction: column;
}
section p {
    text-align: center;
}

h2{
    font-size: 18px;
    font-weight: 700;
}
nav a{
    color: #00E6B8;
}

/* Header */

.header{
    background-color: #757F9A;
}

.container {
}

.nav {
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

.nav-item {
    font-size: 20px;
}

/* Main */

.main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
    align-items: center;
    min-width: 500px;
}

.main-container {
    display: flex;
    width: 100%;
}

.left-side {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 40px;
}

h1{
    text-align: center;
    font-size: 30px;
}

.main-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.main-img img{
    border-radius: 50%;
    max-width: 200px;
}

.left-sections{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 10px 0;
}

.left-li{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 10px 0;
}

.icons{
    width: 20px;
    height: 20px;
}

.rigth-side {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.rigth-side section{
}

.main-about {
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}