* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: inherit;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    max-width: 1100px;
    margin: 0 auto;
}   
.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #757F9A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Common */

pre{
    display: block;
}

section{
    display: flex;
    flex-direction: column;
}
section p {
    text-align: center;
}

p{
    font-size: 18px;
    font-weight: 700;
}
nav a{
    color: aqua;
}

/* Header */

.header{
    background-color: #757F9A;
}

.container {
}

.nav {
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

.nav-item {
    font-size: 20px;
}

/* Main */

.main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
    align-items: center;
}

.main-container {
    display: flex;
    max-width: 800px;
}

.left-side {
    width: 25%;
    margin: 0;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h1{
    text-align: center;
    font-size: 30px;
}

.main-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

img{
    border-radius: 70%;
}

.contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.rigth-side {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.rigth-side section{

}

.main-about {
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}